* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 

    background: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.136);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

    padding: 16px 32px 16px 0;
}

.logo img {
    height: 40px;
}
 
.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 24px; 
}

.navbar nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px; 
    transition: color 0.3s ease;
}

.navbar nav a:hover {
    text-shadow:
        0 0 7px #d0d0d0,          
        0 0 21px #d0d0d0,       
        0 0 42px #d0d0d0;
}

main {
    padding-top: 80px; 
}

.hero {
    min-height: calc(100vh - 80px);
    padding: 32px;
    text-align: center;
    
    background-image: url('img/background.png');
    
    background-attachment: fixed;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #f0ffff; 

    text-shadow:
        0 0 7px #d0d0d0,          
        0 0 21px #d0d0d0,       
        0 0 42px #d0d0d0;
}

.widgets-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    max-width: 1000px;
}

.widget {
    background: rgba(228, 228, 228, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255, 255, 255, 0.136);
    border-radius: 20px;
    padding: 24px;
}

.widget h2 {
    font-size: 20px;
    font-weight: 700;
    color: #ddd;
    margin-bottom: 14px; 
}

.widget .game-type {
    margin-top: 16px;
    color: #aaa;
    font-style: italic;
    font-size: 14px;
}

.widget.news {
    grid-column: 1 / 2;
}

.widget.news .slider-content img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.widget.news .slider-content p {
    font-size: 14px;
    color: #e8e8e8;
}

.widget.matches {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.match-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px; 
}
.team-logo {
    height: 60px;
}
.match-details {
    display: flex;
    flex-direction: column;
    font-size: 24px; 
    font-weight: 700;
}

.widget.result {
    grid-column: 1 / 3; 
}
.result-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0; 
}
.result-info .team-name {
    font-size: 28px; 
    font-weight: 700;
}
.result-info .score {
    font-size: 40px;
    font-weight: 900;
    color: #7dff7a; 
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}
.dot.active {
    background: #fff;
}

footer {
    background-color: #08070700;
    text-align: center;
    padding: 24px;
    color: #d3d3d3;
    font-size: 13px;
}

/* ======== STYLES DE LA PAGE BOUTIQUE ======== */

.hero .subtitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 400;
  text-shadow: none; 
}

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  border-radius: 20px;
  padding: 24px;
  
  width: 100%;
  max-width: 360px; 
  text-align: center;
}

.product-image-container {
  padding: 16px;
  margin-bottom: 24px;
  
}

.product-image-container img {
  width: 100%;
  display: block;
    border-radius : 15px;
}

.product-card .product-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #ffff;
}

.product-card .product-desc {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 16px;
}

.product-card .product-price {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  display: block;
  margin-bottom: 24px;
}

.product-card .btn-buy {
  background: #e9e9e9;
  color: #0e0019;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 30px;
  display: inline-block;
}

.product-card .btn-buy:hover {
  background: #f0ddff;
  color: #380062;
  box-shadow:
    0 0 7px #ead0ff,          
    0 0 21px #ead0ff,       
    0 0 42px #ead0ff;
}

.hero .small-print {
  font-size: 12px;
  font-style: italic;
  color: #fafafa;
  margin-top: 24px;
}

/* ======== STYLES DE LA PAGE ROSTER ======== */
.roster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 24px; 
  width: 100%;
  margin-top: 40px;
}

.roster-card {
  background: rgba(228, 228, 228, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  border: 1px solid rgba(255, 255, 255, 0.136);
  border-radius: 20px;
  padding: 32px;
  
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.roster-card .game-logo {
  width: 150px;
  height: auto;
  margin-bottom: 32px;
  border-radius: 20px;
}

.roster-card .btn-roster {
  background: #fff;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 30px;
  display: inline-block;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-bottom: 24px;
}

.roster-card .btn-roster:hover {
background: #f0ddff;
  color: #380062;
  box-shadow:
    0 0 7px #ead0ff,          
    0 0 21px #ead0ff,       
    0 0 42px #ead0ff;
}

.roster-card .game-name {
  font-size: 20px;
  font-weight: 700;
  color: #ededed;
}

/* ======== STYLES DE LA PAGE ROSTER VALORANT ======== */
.player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.player-card {
  background: rgba(228, 228, 228, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.136);
  border-radius: 20px;
  padding: 24px;
 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-info {
  font-weight: 700;
  font-size: 20px;
}

.player-name {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.player-role {
  color: #ccc;
  text-shadow: 0 0 5px #ccc, 0 0 10px #ccc;
}

.player-badges {
  display: flex;
  gap: 8px;
  align-items: center;
}

.badge-flag {
  width: 24px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.badge-captain {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E53935;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player-pdp {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0; 
}

.card-content p {
  font-size: 14px;
  color: #e0e0e0;
  text-align: left;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.player-age {
  font-size: 14px;
  color: #ccc;
}

.player-number {
  background-color: rgba(0, 0, 0, 0.456);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.player-role {
  color: #ffff00;
  text-shadow: 0 0 5px #fffc31, 0 0 10px #fff67e;
}

.role-initiateur {
  color: #ff00dd;
  text-shadow: 0 0 7px #ff5ae9, 0 0 10px #ff58fc; 
}

.role-flex {
   color: #b300ff;
  text-shadow: 0 0 7px #df51ff, 0 0 10px #e8b5ff; 
}
.role-duelist {
  color: #ff0000;
  text-shadow: 0 0 7px #ff1b1b, 0 0 10px #f48f8f;
}

.role-sentinel {
  color: #00bd06; 
  text-shadow: 0 0 7px #00ef08, 0 0 10px #003702; 
}

.role-smoker {
  color: #00c4e6;
  text-shadow: 0 0 7px #00aeac, 0 0 10px #c0fdff; 
}

/* ======== STYLES DE LA PAGE RÉSEAUX SOCIAUX ======== */

.social-links-container {
  display: flex;
  flex-direction: column; 
  gap: 18px; 
  width: 100%;
  max-width: 1400px;
  margin-top: 30px;
}

.social-link-card {
  background: rgba(228, 228, 228, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.136);
  border-radius: 20px;
  
  padding: 16px 24px;
  
  display: flex;
  align-items: center;

  
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;

  
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.social-link-card:hover {
  transform: scale(1.005); 
  background: rgba(228, 228, 228, 0.6); 
}

.social-icon {
  width: 72px;
  height: 72px;
  margin-right: 24px;
  border-radius: 6px;
}

/* ======== STYLES DE LA PAGE À PROPOS ======= */
.presentation-paragraph {
  font-size: 14px;
  display: block;
  margin-bottom: 24px;
  text-align: left;
}

.about-img {
   width: 200px;
  height: auto;
  margin-bottom: 32px;
  border-radius: 20px;
  align-items: right;
}

.upper-part .lower-part {
  display: block;
  justify-content: right;
}

/* ======== STYLES DE LA PAGE CONTACT ======== */
.contact-form {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.glass-form-container {
  background: rgba(228, 228, 228, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.136);
  border-radius: 30px;
  
  padding: 40px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.form-row {
  display: flex;
  gap: 24px; 
  width: 100%;
}

.input-field {
  width: 100%;
  background-color: #e4e4e4;
  border: none;
  padding: 16px 24px;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #2a242f;
  outline: none; 
}

.textarea-field {
  border-radius: 20px; 
  height: 200px; 
  resize: none; 
}

.input-field::placeholder {
  color: #3a2d42;
  font-weight: 500;
}

.btn-send {
  margin-top: 32px;
  background-color: #e4e4e4;
  color: #000;
  border: none;
  padding: 12px 60px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-send:hover {
background: #f0ddff;
color: #380062;
box-shadow:
  0 0 7px #ead0ff,          
  0 0 21px #ead0ff,       
  0 0 42px #ead0ff;
}

.little-comment {
  margin-top: 12px;
  color: #e4e4e4;
  font-style: italic;
  font-size: 11px;

}

.fade-anim {
    animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0.4; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.dot {
    cursor: pointer;
    transition: background-color 0.3s ease;
}