<header class="navbar">
    <div class="nav-container">
        <a href="about.html" class="logo">
            <img src="img/logo-seul.png" alt="Logo Team Sens">
        </a>
        <nav>
            <ul>
                <li><a href="acceuil.html">Accueil</a></li>
                <li><a href="roster.html">Rosters</a></li>
                <li><a href="reseaux.html">Nos réseaux</a></li>
                <li><a href="boutique.html">Boutique</a></li>
                <li><a href="contact.html">Nous contacter</a></li>
            </ul>
        </nav>
    </div>
</header>
